<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hdboost.ai" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>HD BOOST AI</name>
    <description>Enhancer Foto & Video Gratis</description>
    <author email="support@hdboost.ai" href="https://hdboost.ai">HD Boost Team</author>
    
    <content src="index.html" />
    
    <access origin="*" />
    
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="res/icon.png" />
    </platform>
    
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
</widget>
